body {
color:black;
background-color: white;
background-image:url("../../assets/mapmonde.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.marge{
  height: 20px;
  background-color: white;
}

.en-tête{
  height: 50px;
  background-color: white
}

.intro{
  font-family: 'Courier Prime', monospace;
  font-size: 22px;
  text-shadow: 2px 2px 2px LightGrey;
}
.milieu{
  height: 800px;
}
.margeb{
  height: 300px;
}
.myButton {background-image: linear-gradient(to right, #ECE9E6 0%, #FFFFFF  51%, #ECE9E6  100%)}

.myButton {
  margin: 10px;
  padding: 30px 60px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: Grey;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
          }

.myButton:hover {
  background-position: right center;
  color: grey;
  text-decoration: none;
}

.margeh{
  height: 100px;
}

.halloffame{
  background-color: lightgray;
  height: 300px;
}
.fame{
  font-family: 'Courier Prime', monospace;
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 2px LightGrey;
  text-align: center;
}
.contacts{
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
  background-color: white;
  height: 50px;
}

.car{
  width: 1000px;
}

#hof{
  font-family: 'Courier Prime', monospace;
  font-size: 17px;
}

#premier{
  color:  #d4ac0d; // Or
}

#deuxieme{
  color: #95a5a6; // Argent
}

#troisieme{
  color:  #e67e22; // Bronze
}
